<% provide(:title, 'Contacts') %>
<h1>Contacts:</h1>
<h2>Nikitin Andrew:</h2>
<p> <a href="http://vk.com/andrew_aron">Vkontakte </a> </p>
<p> <a href="http://instagram.com/asivrit">Instagram </a> </p>
<p> <a href="https://www.facebook.com/andrew.nikitin.94">facebook </a> </p>
